$lighter-grey: rgb(231, 231, 231);
$light-grey: rgb(200, 200, 200);
$light-blue: #c9e7ff;
$blue: #81bff1;
$dark-blue: #2e71b8;
$darker-blue: #0e529b;

:root {
  background-color: $lighter-grey;
}

// FONT COLORS
.dark-grey {
  color: grey;
}

.light-grey {
  color: $lighter-grey;
}

.light-blue {
  color: $light-blue;
}

.blue {
  color: $blue;
}

.dark-blue {
  color: $dark-blue;
}

.btn {
  cursor: pointer;
  border-radius: calc(infinity * 1px);
  padding: 5px 10px;
  transition: 0.15s;
}

.blue-btn {
  background-color: $dark-blue;
  color: white;

  &:hover {
    background-color: $darker-blue;
  }
}

.grey-btn {
  background-color: $lighter-grey;

  &:hover {
    background-color: $light-grey;
  }
}

#profile-menu {
  a {
    padding: 5px 10px;
    border-radius: 5px;
  }
}

.hover-darken {
  transition: 0.15s;

  &:hover {
    background-color: $lighter-grey;
  }
}

// ANIMATIONS
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
