$bg-lighter-grey: rgb(231, 231, 231);
$light-grey: rgb(200, 200, 200);
$light-blue: #c9e7ff;
$blue: #acd1f0;
$dark-blue: #2e71b8;
$darker-blue: #0e529b;

:root {
  background-color: $bg-lighter-grey;
}

// FONT COLORS
.dark-grey {
  color: grey;
}

.lighter-grey {
  color: $bg-lighter-grey;
}

.lighter-grey-bg {
  background-color: $bg-lighter-grey;
}

.blue-bg {
  background-color: $blue;
}

.dark-blue-bg {
  background-color: $dark-blue;
}

.light-grey-bg {
  background-color: $light-grey;
}

.light-blue {
  color: $light-blue;
}

.blue {
  color: $blue;
}

.dark-blue {
  color: $dark-blue;
}

.darker-blue {
  color: $darker-blue;
}

.btn {
  cursor: pointer;
  border-radius: calc(infinity * 1px);
  padding: 5px 15px;
  transition: 0.15s;
}

.circle-btn {
  cursor: pointer;
  border-radius: calc(infinity * 1px);
  transition: 0.15s;
}

.blue-btn {
  background-color: $dark-blue;
  color: white;

  &:hover {
    background-color: $darker-blue;
  }
}

.grey-btn {
  background-color: $bg-lighter-grey;

  &:hover {
    background-color: $light-grey;
  }
}

.darker-grey-btn {
  background-color: $light-grey;

  &:hover {
    background-color: grey;
  }
}

.auth-input {
  background-color: $bg-lighter-grey;
  border-radius: calc(infinity * 1px);
  width: 100%;
}

.img-transition-start-left {
  left: 0;
  transition: 0.5s;
}

.img-transition-end-right {
  left: 100%;
  transform: translate(-100%, 0);
}

#profile-menu {
  a {
    padding: 5px 10px;
    border-radius: 5px;
  }
}

.hover-darken {
  transition: 0.15s;

  &:hover {
    background-color: $bg-lighter-grey;
  }
}

.inner-line-divider:not(:last-child) {
  border-bottom: 1px solid $light-grey;
}

.front {
  z-index: 1000;
}

.center-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transparent-black-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.toggle-btn {
  position: relative;
  border-radius: calc(infinity * 1px);
  background-color: $light-grey;
  height: 100%;
  width: 35px;
  height: 20px;
  transition: background-color 0.2s;
  cursor: pointer;

  .thumb {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: calc(infinity * 1px);
    left: 3px;
    top: 50%;
    transition: left 0.1s;
    transform: translate(0, -50%);
  }

  &:hover {
    background-color: rgb(179, 179, 179);
  }

  &.toggled {
    background-color: #49c0a2;

    .thumb {
      left: calc(35px - 14px - 3px);
    }
  }
}

// ANIMATIONS
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
