$light-grey: rgb(230, 230, 230);
$light-blue: #c9e7ff;
$blue: #81bff1;
$dark-blue: #2e71b8;

:root {
  background-color: $light-grey;
}

// FONT COLORS
.dark-grey {
  color: grey;
}

.light-grey {
  color: $light-grey;
}

.light-blue {
  color: $light-blue;
}

.blue {
  color: $blue;
}

.dark-blue {
  color: $dark-blue;
}

.btn {
  cursor: pointer;
  border-radius: calc(infinity * 1px);
  padding: 5px 10px;
}

.blue-btn {
  background-color: rgb(44, 72, 167);
  color: white;
}

.grey-btn {
  background-color: $light-grey;
}

.hover-underline {
  transition: 0.1s;
  // border-bottom: 1px solid transparent;

  &:hover {
    background-color: $light-grey;
  }
}

#profile-menu {
  a {
    padding: 5px 10px;
    border-radius: 5px;
  }
}

// ANIMATIONS
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
