.web-gazer-container {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  width: 100vw;
  height: calc(100vh - 48px);
  position: absolute;
  top: 48px;
  left: 0;
}

.calibration-dot {
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

#instructions {
  color: black;
  font-size: 20px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
}

#gazeDot {
  position: absolute;
  background: lime;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  pointer-events: none;
  z-index: 1001;
  display: block;
}

#trackingImage {
  width: calc(100% - 320px);
  max-height: 100vh;
  // object-fit: contain;
  // object-position: center;
  position: fixed;
  // top: 50%;
  left: 320px; // no overlap with the webcam
  // transform: translate(-50%, -50%);
}

/* Webcam elements */
#webgazerVideoFeed,
#webgazerFaceOverlay,
#webgazerFaceFeedback {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999;
  width: 160px;
  height: 120px;
}
